<div class="container"> 
<div>
<form action="/searchIndex" method="POST" >
<input type="number" required id="inputIndex" name="index"  placeholder="Comic #"> 
<button class="btn" type ="submit"> Search </button>
</form>
</div>

    {{#with comic}}
        <div class="view">
        <h2 id="title"> {{title}}</h2>
        <div id="info">
        <p id="dateCreated">{{ date }}  </p>
        <p> Views: {{viewTimes}} </p>
        </div>
        </div>
         <!-- comic content-->
      
        <img src={{img}} alt={{alt}} > </img>
        
        <div id="nav">
        <a class="btn" id="btn-prev" href="/prev/{{num}}" >PREV </a> 
        <a class= "btn" id="btn-random" href='/random'> RANDOM </a>
        <a class="btn" id="btn-next" href="/next/{{num}}"> NEXT </a> 
        </div>
        <div class="view" >
        <p > Current Page: {{num}} </p>
        <button onclick="transcriptAppear()" > Transcript </button>
        <div id="transcript" style="display:none;">
    
        <p>{{transcript}} </p>
        </div>
        </div>
    {{else}}

    <div> 
        <h3> Sorry, there is an error</h3>
        <a id="btn" href="/" >Home </a> 
    </div>
    {{/with}}
</div>  
